.container-tasks {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-height: 100vh;
  margin-top: 60px;
}

.task {
  background-color: brown;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 30rem;
  border-radius: 8px;
}
